<!DOCTYPE html>
<meta charset="utf-8" />
<title>elimage: CLI image pastebin</title>
<pre>
elimage(1)                         ELIMAGE                           elimage(1)

NAME
    Elimage: CLI Image Pastebin

SYNOPSIS
    curl -F 'name=@/path/to/image' {{ url }}

    Or upload via your browser: <form action="/" method="post" enctype="multipart/form-data" style="display: inline;"><input type="file" name="image" width="10" multiple accept="image/*"/>{% if password_required %}<input type="password" name="password" style="width: 20px" required/>{% end %}<input type="submit" value="Upload!"/></form>

    You can also paste an image here.

DESCRIPTION
    Paste image files with command line. You can give <u>-F</u> more times to paste
    more images.

EXAMPLES
    <span style="color:#ffc000" >$</span> curl -F 'name=@screenshot.png' {{ url }}
    {% if url.find('vim-cn.com') != -1 or url.find('edisonnotes.com') != -1 %}<a href="{{ url }}97/2d8490849c8fab885218b478cc715ab0f3f4a9">{{ url }}97/2d8490849c8fab885218b478cc715ab0f3f4a9</a>{% else %}{{ url }}97/2d8490849c8fab885218b478cc715ab0f3f4a9{% end %}

URLS
    <a href="https://cfp.vim-cn.com/">https://cfp.vim-cn.com/</a>
        A CLI code pastebin

    <a href="https://github.com/Vim-cn/elimage">https://github.com/Vim-cn/elimage</a>

TOOLS
    <a href="elimage">elimage</a>: script to quickly paste your images

                                09 Feb 2019                          elimage(1)
</pre>
<script>document.onpaste=function(a){var b=a.clipboardData;if(b.files.length>0){document.getElementsByName('image')[0].files=b.files;document.getElementsByTagName('form')[0].submit()}};</script>
<!-- vim: set fdm=marker et sw=4 syntax=html.tornadotmpl: -->
